TOKEN=
CHAT_ID=
WEBHOOK_SECRET=
REPO_PATH=
LOG_FILE=
BRANCH=
# Настройки для проверки CI (опционально)
# GITHUB_API_TOKEN=ваш_персональный_токен_GitHub
# GITHUB_REPO=ваш_логин/sport_notify_bo
DATA_GIST_TOKEN=
DATA_GIST_ID=
DATA_GIST_FILENAME=
DATA_GIST_RAISE_ERRORS=
TELEGRAM_POSTS_GIST_FILENAME=telegram_posts.json
