name: Ruby Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby 4.0.1
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "4.0.1"
        bundler-cache: true
    - name: Set up Chrome
      id: setup-chrome
      uses: browser-actions/setup-chrome@v1
    - name: Setup test environment
      run: |
        mkdir -p tmp/
        touch .env
        echo "BROWSER_PATH=${{ steps.setup-chrome.outputs.chrome-path }}" >> .env
        echo "TOKEN=test_token" >> .env
        echo "CHAT_ID=123456789" >> .env
    - name: Run tests
      run: bundle exec rspec
    - name: Run Rubocop
      run: bundle exec rubocop || true
    - name: Build gem
      run: bundle exec rake build
